@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border-style: none;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

/* Estilos a serem aplicados para telas com largura entre 320px e 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  * {
    font-size: 62.5%;
  }
  body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='480' height='795' preserveAspectRatio='none' viewBox='0 0 480 795'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3cpath d='M59.1 260.37 a83.61 83.61 0 1 0 167.22 0 a83.61 83.61 0 1 0 -167.22 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-60.3 483.67 a131.17 131.17 0 1 0 262.34 0 a131.17 131.17 0 1 0 -262.34 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M146.39 553.55 a104.81 104.81 0 1 0 209.62 0 a104.81 104.81 0 1 0 -209.62 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-73.72 503.74 a121.28 121.28 0 1 0 242.56 0 a121.28 121.28 0 1 0 -242.56 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M301.88 15.38 a125.78 125.78 0 1 0 251.56 0 a125.78 125.78 0 1 0 -251.56 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M304.1 453.8 a85.88 85.88 0 1 0 171.76 0 a85.88 85.88 0 1 0 -171.76 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M47.1 567.72 a85.35 85.35 0 1 0 170.7 0 a85.35 85.35 0 1 0 -170.7 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M187.31 66.44 a134.91 134.91 0 1 0 269.82 0 a134.91 134.91 0 1 0 -269.82 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M131.06 147.58 a116.85 116.85 0 1 0 233.7 0 a116.85 116.85 0 1 0 -233.7 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-90.92 218.98 a104.26 104.26 0 1 0 208.52 0 a104.26 104.26 0 1 0 -208.52 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M37.9 447.05 a121.67 121.67 0 1 0 243.34 0 a121.67 121.67 0 1 0 -243.34 0z' fill='rgba(91%2c 37%2c 209%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='480' height='795' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-size: 100%;
    background-size: cover;
  }
  #hero__mainMenu {
    width: 100vw;
    display: flex;
    height: 80px;
    background-color: #e9d6fe;
  }
  #hero__mainMenu .hero__mainMenu--logo {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
  }
  #hero__mainMenu .hero__mainMenu--logo h2 {
    font-size: 2rem;
    color: #6a25a4;
  }
  #hero__mainMenu .mainMenu__allMenuList {
    display: flex;
    padding-inline: 1.6rem;
    align-items: center;
  }
  #hero__mainMenu .mainMenu__allMenuList .allMenuList__primaryList {
    display: none;
  }
  #hero__mainMenu .mainMenu__allMenuList .allMenuList__secundaryList {
    width: 60vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #hero__mainMenu .mainMenu__allMenuList .allMenuList__secundaryList li:first-child {
    width: 22vw;
    height: 30px;
    border: 1px solid #7d28c8;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-weight: bold;
  }
  #hero__mainMenu .mainMenu__allMenuList .allMenuList__secundaryList li:last-child {
    width: 22vw;
    height: 30px;
    background-color: #6a25a4;
    border: 1px solid #6a25a4;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-size: 1.2rem;
  }
  .presentationSection {
    width: 50vw;
    margin: auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .presentationSection .presentationSection-img {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4.8rem;
  }
  .presentationSection .presentationSection-img img {
    width: 80%;
  }
  .presentationSection .presentationSection-text {
    width: 80vw;
  }
  .presentationSection .presentationSection-text h1 {
    color: black;
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
  .presentationSection .presentationSection-text p {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
  }
  .presentationSection .presentationSection-text .presentationSection__text-buttonGroup {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .presentationSection .presentationSection-text .presentationSection__text-buttonGroup button:first-child {
    width: 22vw;
    height: 30px;
    border: 1px solid #7d28c8;
    font-size: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-weight: bold;
  }
  .presentationSection .presentationSection-text .presentationSection__text-buttonGroup button:last-child {
    width: 22vw;
    height: 30px;
    background-color: #6a25a4;
    border: 1px solid #6a25a4;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-size: 1rem;
  }
  #sectionAbout {
    width: 100vw;
    height: 140px;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #6a25a4;
    align-items: center;
  }
  #sectionAbout .sectionAbout-text {
    width: 50vw;
    margin-left: 1rem;
    margin-right: 3rem;
    font-size: 2rem;
    color: #fff;
    font-weight: bolder;
    font-style: italic;
  }
  #sectionAbout .sectionAbout-img {
    width: 40vw;
  }
  #sectionAbout .sectionAbout-img img {
    width: 80%;
    position: relative;
    top: 30px;
  }
  #sectionadvantages {
    width: 80vw;
    height: 1092px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
  #sectionadvantages .sectionadvantages-item-primary {
    width: 100%;
    height: 12rem;
    margin: auto;
    border-radius: 1rem;
    border: 2px solid #d8b6fc;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-title-primary {
    width: 50%;
    height: 80%;
    font-size: 3rem;
    padding: 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-title-primary h3 {
    color: #1d0033;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-title-primary .buttonGroup {
    display: none;
    justify-content: flex-end;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-title-primary .buttonGroup button:first-child {
    width: 16vw;
    height: 25px;
    border: 1px solid #7d28c8;
    font-size: 0.6rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-weight: bold;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-title-primary .buttonGroup button:last-child {
    width: 16vw;
    height: 25px;
    background-color: #6a25a4;
    border: 1px solid #6a25a4;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-img-primary {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 10px;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-img-primary img {
    width: 100%;
    padding-top: 30px;
  }
  #sectionadvantages .sectionadvantages-item-secondary {
    width: 100%;
    height: 12rem;
    margin: auto;
    border-radius: 1rem;
    border: 2px solid #d8b6fc;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-title-secondary {
    width: 50%;
    height: 80%;
    font-size: 3rem;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-title-secondary h3 {
    color: #1d0033;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-title-secondary .buttonGroup {
    display: none;
    justify-content: flex-start;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-title-secondary .buttonGroup button:first-child {
    width: 16vw;
    height: 25px;
    border: 1px solid #7d28c8;
    font-size: 0.6rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-weight: bold;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-title-secondary .buttonGroup button:last-child {
    width: 16vw;
    height: 25px;
    background-color: #6a25a4;
    border: 1px solid #6a25a4;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-img-secondary {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 10px;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-img-secondary img {
    width: 100%;
    padding-top: 30px;
  }
  #sessionApproach {
    width: 90vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 100px;
  }
  #sessionApproach p {
    width: 80%;
    height: 60px;
    padding-inline: 3.2rem;
    font-size: 2.2rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #sessionApproach ul {
    width: 90%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #sessionApproach ul li {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  #sessionApproach ul li svg {
    margin-right: 8px;
    color: #7d28c8;
  }
  #sectionOffPrimary {
    height: 300px;
    width: 80vw;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: auto;
  }
  #sectionOffPrimary .sectionOffPrimary-img {
    width: 90%;
  }
  #sectionOffPrimary .sectionOffPrimary-img img {
    width: 90%;
    position: relative;
    top: 60px;
  }
  #sectionOffPrimary .sectionOffPrimary-text {
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  #sectionOffPrimary .sectionOffPrimary-text p {
    font-size: 2rem;
    width: 90%;
    margin: auto;
    font-weight: 500;
    margin-bottom: 3.2rem;
  }
  #sectionOffPrimary .sectionOffPrimary-text .buttonGroup {
    display: flex;
    justify-content: center;
  }
  #sectionOffPrimary .sectionOffPrimary-text .buttonGroup button:first-child {
    width: 22vw;
    height: 30px;
    border: 1px solid #7d28c8;
    font-size: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-weight: bold;
  }
  #sectionOffPrimary .sectionOffPrimary-text .buttonGroup button:last-child {
    width: 22vw;
    height: 30px;
    background-color: #6a25a4;
    border: 1px solid #6a25a4;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #hero__mainMenu {
    width: 100vw;
    height: 80px;
    display: flex;
    background-color: #e9d6fe;
    overflow: hidden;
    box-sizing: border-box;
  }
  #hero__mainMenu .hero__mainMenu--logo {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hero__mainMenu .hero__mainMenu--logo .hero__mainMenu-menuIcon {
    display: none;
  }
  #hero__mainMenu .mainMenu__allMenuList {
    display: flex;
    width: 80vw;
  }
  #hero__mainMenu .mainMenu__allMenuList .allMenuList__primaryList {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
  }
  #hero__mainMenu .mainMenu__allMenuList .allMenuList__secundaryList {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
  }
  #hero__mainMenu .mainMenu__allMenuList .allMenuList__secundaryList li:first-child {
    width: 22vw;
    height: 30px;
    border: 1px solid #7d28c8;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-weight: bold;
  }
  #hero__mainMenu .mainMenu__allMenuList .allMenuList__secundaryList li:last-child {
    width: 22vw;
    height: 30px;
    background-color: #6a25a4;
    border: 1px solid #6a25a4;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-size: 1.2rem;
  }
  .presentationSection {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    justify-content: space-evenly;
  }
  .presentationSection .presentationSection-img {
    display: flex;
    justify-content: center;
  }
  .presentationSection .presentationSection-img img {
    width: 50%;
  }
  .presentationSection .presentationSection-text {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .presentationSection .presentationSection-text h1 {
    font-size: 2.4rem;
  }
  .presentationSection .presentationSection-text p {
    font-size: 1.6rem;
  }
  .presentationSection .presentationSection-text .presentationSection__text-buttonGroup {
    display: flex;
    justify-content: flex-start;
  }
  .presentationSection .presentationSection-text .presentationSection__text-buttonGroup button:first-child {
    width: 22vw;
    height: 30px;
    border: 1px solid #7d28c8;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-weight: bold;
  }
  .presentationSection .presentationSection-text .presentationSection__text-buttonGroup button:last-child {
    width: 22vw;
    height: 30px;
    background-color: #6a25a4;
    border: 1px solid #6a25a4;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-size: 1.2rem;
  }
  #sectionAbout {
    width: 100vw;
    height: 140px;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #6a25a4;
    align-items: center;
  }
  #sectionAbout .sectionAbout-text {
    width: 50vw;
    margin-left: 1rem;
    margin-right: 3rem;
    font-size: 1rem;
    color: #fff;
    font-weight: bolder;
    font-style: italic;
  }
  #sectionAbout .sectionAbout-img {
    width: 40vw;
  }
  #sectionAbout .sectionAbout-img img {
    width: 80%;
    position: relative;
    top: 30px;
  }
  #sectionadvantages {
    width: 90vw;
    height: 545px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 200px;
  }
  #sectionadvantages .sectionadvantages-item-primary {
    width: 40%;
    height: 15rem;
    margin: auto;
    border-radius: 1rem;
    border: 2px solid #d8b6fc;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: all 2s ease;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-title-primary {
    width: 50%;
    height: 80%;
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-title-primary h3 {
    color: #1d0033;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-title-primary .buttonGroup {
    display: none;
    justify-content: flex-end;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-title-primary .buttonGroup button:first-child {
    width: 16vw;
    height: 25px;
    border: 1px solid #7d28c8;
    font-size: 0.6rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-weight: bold;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-title-primary .buttonGroup button:last-child {
    width: 16vw;
    height: 25px;
    background-color: #6a25a4;
    border: 1px solid #6a25a4;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-img-primary {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
  }
  #sectionadvantages .sectionadvantages-item-primary .sectionadvantages-img-primary img {
    width: 70%;
    padding-top: 30px;
  }
  #sectionadvantages .sectionadvantages-item-secondary {
    width: 40%;
    height: 15rem;
    margin: auto;
    border-radius: 1rem;
    border: 2px solid #d8b6fc;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: all 2s ease;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-title-secondary {
    width: 50%;
    height: 80%;
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-title-secondary h3 {
    color: #1d0033;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-title-secondary .buttonGroup {
    display: none;
    justify-content: flex-start;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-title-secondary .buttonGroup button:first-child {
    width: 16vw;
    height: 25px;
    border: 1px solid #7d28c8;
    font-size: 0.6rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-weight: bold;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-title-secondary .buttonGroup button:last-child {
    width: 16vw;
    height: 25px;
    background-color: #6a25a4;
    border: 1px solid #6a25a4;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-img-secondary {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 10px;
  }
  #sectionadvantages .sectionadvantages-item-secondary .sectionadvantages-img-secondary img {
    width: 70%;
    padding-top: 30px;
  }
}/*# sourceMappingURL=app.css.map */