* {
    padding: 0;
    margin: 0;
    list-style: none;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    font-size: 62.5%;
}


//    variáveis de cores
$electric-violet-50: #faf5ff;
$electric-violet-100: #f3e9fe;
$electric-violet-200: #e9d6fe;
$electric-violet-300: #d8b6fc;
$electric-violet-400: #bf88f8;
$electric-violet-500: #a75af2;
$electric-violet-600: #8a2be2;
$electric-violet-700: #7d28c8;
$electric-violet-800: #6a25a4;
$electric-violet-900: #572083;
$electric-violet-950: #3b0a61;
$electric-violet-1000: #1d0033;


//    variáveis de tamanho

$smarthPhone-min: 320px;
$smarthPhone-max: 480px;
// -------------------------------------=
$tablet-min: 481px;
$tablet-max: 767px;
// -------------------------------------=
$desktoSmall-min: 1025px;
$desktoSmall-max: 1199px;
// -------------------------------------= 

$desktopLarge-min: 1200px;



// components lists


//start--buttons

@mixin liitem($tamanhoFonte) {
    width: 6.5rem;
    height: 2.1rem;

    font-size: $tamanhoFonte;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: $tamanhoFonte;
    font-weight: bold;
}

@mixin liitemHover($tamanhoFonte) {
    width: 6.3rem;
    height: 1.9rem;
    border: 0.2rem solid $electric-violet-800;

    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $tamanhoFonte;
    font-weight: bold;
}


@mixin activeButton($tamanhoFonte) {
    width: 22vw;
    height: 30px;
    background-color: $electric-violet-800;

    border: 1px solid $electric-violet-800;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-size: $tamanhoFonte;

}

@mixin preActiveButton($tamanhoFonte) {
    width: 22vw;
    height: 30px;
    border: 1px solid $electric-violet-700;
    font-size: $tamanhoFonte;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 4px;
    font-weight: bold;
}



@mixin activeButtonSecondary($tamanhoFonte) {
    width: 16vw;
    height: 25px;
    background-color: $electric-violet-800;

    border: 1px solid $electric-violet-800;
    font-weight: bold;
    color: #faf5ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: $tamanhoFonte;

}

@mixin preActiveButtonSecondary($tamanhoFonte) {
    width: 16vw;
    height: 25px;
    border: 1px solid $electric-violet-700;
    font-size: $tamanhoFonte;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-weight: bold;
}




// -- end buttons

//
/* Estilos a serem aplicados para telas com largura entre 320px e 480px */
@media only screen and (min-width: $smarthPhone-min) and (max-width: $smarthPhone-max) {

    * {
        font-size: 62.5%;
    }

    #hero__mainMenu {
        width: 100vw;

        display: flex;
        height: 80px;
        background-color: $electric-violet-200;



        .hero__mainMenu--logo {

            width: 40vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
        
            margin-left: 10px;

            h2
            {
                font-size: 1.8rem;
                color:$electric-violet-800;
            }



        }

        .mainMenu__allMenuList {

            display: flex;

            padding-inline: 1.6rem;
            align-items: center;


            .allMenuList__primaryList {
                display: none;


            }

            .allMenuList__secundaryList {
                width: 60vw;
                display: flex;
                justify-content: flex-end;
                align-items: center;


                li:first-child {

                    @include preActiveButton($tamanhoFonte: 1.2rem);
                }

                li:last-child {
                    @include activeButton($tamanhoFonte: 1.2rem);

                }
            }
        }
    }










    .presentationSection {
        width: 50vw;


        margin: auto;
        margin-top: 90px;
        display: flex;
        flex-direction: column;

        display: flex;
        align-items: center;
        justify-content: space-around;


        .presentationSection-img {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 4.8rem;


            & img {

                width: 80%;
                // filter: drop-shadow(2px 3px 300px $electric-violet-500);
            }


        }




        .presentationSection-text {

            width: 80vw;

            h1 {
                color: black;
                font-size: 2rem;
                margin-bottom: 1.6rem;

            }

            p {
                font-size: 1.2rem;
                margin-bottom: 1.6rem;
            }


            .presentationSection__text-buttonGroup {

                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;


                button:first-child {

                    @include preActiveButton($tamanhoFonte: 1rem);

                }

                button:last-child {
                    @include activeButton($tamanhoFonte: 1rem)
                }
            }
        }




    }




    #sectionAbout {

        width: 100vw;
        height: 140px;
        display: flex;
        margin-top: 60px;
        margin-bottom: 60px;
        background-color: $electric-violet-800;
        align-items: center;


        .sectionAbout-text {
            width: 50vw;
            margin-left: 1rem;
            margin-right: 3rem;
            font-size: 2rem;
            color: #fff;
            font-weight: bolder;
            font-style: italic;


        }



        .sectionAbout-img {
            width: 40vw;

            img {
                width: 80%;
                position: relative;
                top: 30px;
            }
        }

    }
// ----------------------------------------------------------------------------------------------------

    @mixin item-primary
    {
        width: 100%; height: 12rem;
        margin: auto;
        border-radius: 1rem;
        border:2px solid $electric-violet-300;
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
    }


    @mixin item-secondary
    {
        width: 100%; height: 12rem;
        margin: auto;
        border-radius: 1rem;
        border:2px solid $electric-violet-300;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        
    }





    #sectionadvantages 
    {
        
        width: 80vw; height: 1092px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        
        
        
        


        .sectionadvantages-item-primary
        {
          
           @include item-primary;
            
            .sectionadvantages-title-primary
            {
                width: 50%;
                height: 80%;
                font-size: 2.5rem;
                padding: 1rem;
                text-align: right;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3{
                    color: $electric-violet-1000;
                 }
                
               

                .buttonGroup
                {
                    display: none;
                    justify-content: flex-end;
                    
                    button:first-child
                    {
                        @include preActiveButtonSecondary($tamanhoFonte:0.6rem)
                    } 

                    button:last-child
                    {
                        @include activeButtonSecondary($tamanhoFonte:0.6rem)
                    } 
                }
            }

            .sectionadvantages-img-primary
            {
                width: 40%;
                height: 60%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin-left: 10px;
                
                
                
                

                img 
                {
                    width: 100%;
                    padding-top: 30px;
                    
                    
                }
            }
            
        }


        
        .sectionadvantages-item-secondary
        {
          
           @include item-secondary;
            
            .sectionadvantages-title-secondary
            {
                width: 50%;
                height: 80%;
                font-size: 2.5rem;
                padding: 1rem;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3{
                    color: $electric-violet-1000;
                 }
                
               

                .buttonGroup
                {
                    display: none;
                    justify-content: flex-start;
                    
                    button:first-child
                    {
                        @include preActiveButtonSecondary($tamanhoFonte:0.6rem)
                    } 

                    button:last-child
                    {
                        @include activeButtonSecondary($tamanhoFonte:0.6rem)
                    } 
                }
            }

            .sectionadvantages-img-secondary
            {
                width: 40%;
                height: 60%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin-left: 10px;
                
                
                
                

                img 
                {
                    width: 100%;
                    padding-top: 30px;
                    
                    
                }
            }
            
        }






    }








    // fim da media query
}









@media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) {



    #hero__mainMenu {

        width: 100vw;
        height: 80px;
        display: flex;
        background-color: $electric-violet-200;
        overflow: hidden;
        box-sizing: border-box;


        .hero__mainMenu--logo {

            width: 20vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .hero__mainMenu-menuIcon {
                display: none;

            }
        }

        .mainMenu__allMenuList {

            display: flex;
            width: 80vw;

            .allMenuList__primaryList {
                display: flex;
                width: 60%;
                justify-content: space-around;
                align-items: center;

            }

            .allMenuList__secundaryList {

                width: 45%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
               
                margin-right: 10px;

                li:first-child {
                    @include preActiveButton($tamanhoFonte: 1.2rem)
                }

                li:last-child {
                    @include activeButton($tamanhoFonte: 1.2rem)
                }

            }
        }
    }

    // fim da sessão do menu

    .presentationSection {


        width: 80vw;


        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 40px;
        justify-content: space-evenly;



        .presentationSection-img {
            display: flex;
            justify-content: center;

        }

        .presentationSection-img img {
            width: 50%;


        }

        .presentationSection-text {
            height: 260px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h1 {
                font-size: 2.4rem;
            }

            p {
                font-size: 1.6rem;
            }

            .presentationSection__text-buttonGroup {
                display: flex;
                justify-content: flex-start;

                button:first-child {
                    @include preActiveButton($tamanhoFonte: 1.2rem)
                }

                button:last-child {
                    @include activeButton($tamanhoFonte: 1.2rem)
                }
            }
        }
    }



    #sectionAbout {

        width: 100vw;
        height: 140px;
        display: flex;
        margin-top: 60px;
        margin-bottom: 60px;
        background-color: $electric-violet-800;
        align-items: center;


        .sectionAbout-text {
            width: 50vw;
            margin-left: 1rem;
            margin-right: 3rem;
            font-size: 1rem;
            color: #fff;
            font-weight: bolder;
            font-style: italic;


        }



        .sectionAbout-img {
            width: 40vw;

            img {
                width: 80%;
                position: relative;
                top: 30px;
            }
        }

    }





    @mixin item-primary
    {
        width: 40%; height: 15rem;
        margin: auto;
        border-radius: 1rem;
        border:2px solid $electric-violet-300;
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
        transition: all 2s ease;
    }


    @mixin item-secondary
    {
        width: 40%; height: 15rem;
        margin: auto;
        border-radius: 1rem;
        border:2px solid $electric-violet-300;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        transition: all 2s ease;
        
    }





    #sectionadvantages 
    {
        
        width: 90vw; height: 545px;
        display: flex;
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-top: 200px;
        
        
        
        
        


        .sectionadvantages-item-primary
        {
          
           @include item-secondary;
            
            .sectionadvantages-title-primary
            {
                width: 50%;
                height: 80%;
                font-size: 1rem;
                padding: 1rem;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3{
                    color: $electric-violet-1000;
                 }
                
               

                .buttonGroup
                {
                    display: none;
                    justify-content: flex-end;
                    
                    button:first-child
                    {
                        @include preActiveButtonSecondary($tamanhoFonte:0.6rem)
                    } 

                    button:last-child
                    {
                        @include activeButtonSecondary($tamanhoFonte:0.6rem)
                    } 
                }
            }

            .sectionadvantages-img-primary
            {
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-left: 10px;
               
                
                
                
                

                img 
                {
                    width: 70%;
                    padding-top: 30px;
                    
                    
                }
            }
            
        }


        
        .sectionadvantages-item-secondary
        {
          
           @include item-secondary;
            
            .sectionadvantages-title-secondary
            {
                width: 50%;
                height: 80%;
                font-size: 1rem;
                padding: 1rem;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3{
                    color: $electric-violet-1000;
                 }
                
               

                .buttonGroup
                {
                    display: none;
                    justify-content: flex-start;
                    
                    button:first-child
                    {
                        @include preActiveButtonSecondary($tamanhoFonte:0.6rem)
                    } 

                    button:last-child
                    {
                        @include activeButtonSecondary($tamanhoFonte:0.6rem)
                    } 
                }
            }

            .sectionadvantages-img-secondary
            {
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin-left: 10px;
               
                
                
                
                

                img 
                {
                    width: 70%;
                    padding-top: 30px;
                    
                    
                }
            }
            
        }







}

}




